* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.header{
    background-color: #EEEFF1;
    padding-top: 74PX;
    padding-bottom: 146PX;
}
.link{
    letter-spacing: 0.1em;
    color: #000000;
    text-decoration: none;
}
.link.active{
    color: #34547A;
    font-weight: 500;
}
.item{
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
}
.nav{
   margin-bottom: 140px;
}
.title{
    font-size: 48px;
    line-height: 79px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 37px;
}
.description{
    color: #727272;
    width: 540px;
}
.description.centre{
    margin: 0 auto;
    text-align: center;
}
.button{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #34547A;
    padding: 0 41px;
}
.sub-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}
.about{
    padding: 116px 0 95px 0;
}
.cards{
    background-color: #34547A;
    padding: 100px 0;
}
.icon{
    display: inline-block;
    vertical-align: top;

}
.card-text{
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
    padding-top: 3px;
    margin-left: 20px;
}
.card-title{
    font-weight: 500;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 7px;
}
.card-description{
    line-height: 16px
}
.card{
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
}
.card:last-child{
    margin-right: 0;
}
.video{
    padding-top: 95px 0px 100px 0px;
}
.youtube{
    width: 1110px;
    height: 600px;
}
.description.margin{
    margin-bottom: 52px;
}